@import "tailwindcss";

/* ===========================
   FONTES
=========================== */

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter-VariableFont.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant";
    src: url("/fonts/Cormorant_Garamond/CormorantGaramond-VariableFont.ttf") format("truetype");
    font-weight: 300 700;
    font-display: swap;
}

:root{

--color-primary:#17375E;

--color-secondary:#BFA16A;

--color-text:#374151;

--color-light:#F9FAFB;

--color-dark:#111827;

}

body{

font-family:"Inter",sans-serif;

color:var(--color-text);

background:white;

}

h1,
h2,
h3,
h4{

font-family:"Cormorant",serif;

}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fade-up 2s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  opacity: 0;
}

.animation-delay-500 {
  animation-delay: 500ms;
}
.animation-delay-1000 {
  animation-delay: 1000ms;
}